.form-input {
  border-bottom: 1px solid #c4c4c4 !important;
}

.mobile-nav {
  display: none;
}

.res-hide {
  display: none;
}

.handshake-img-2 {
  margin-right: 33rem;
}

.handshake-img-3 {
  left: 94%;
}

.fixed-img-size {
  width: 350px;
}

@media screen and (max-width: 1600px) {
  .fixed-img-size {
    width: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .fixed-img-size {
    width: 270px;
  }
}

@media screen and (max-width: 1200px) {
  .fixed-img-size {
    width: 250px;
  }

  .handshake-img-2 {
    margin-right: 29rem;
  }
}

@media screen and (max-width: 1056px) {
  .full-width {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .handshake-img-2 {
    margin: 30px 0px;
  }

  .mar-a {
  }

  .mar-b {
    margin-bottom: 80px !important;
  }

  .mar-c {
  }

  .constant-margin {
    margin: 20px 0px !important;
  }

  .ethics-card-2 {
    flex-direction: column !important;
  }

  .flex-wrap-md {
    flex-wrap: wrap;
  }

  .fixed-img-size {
    width: 350px !important;
  }

  .handshake-img {
    position: static !important;
    width: 250px !important;
    min-width: 250px !important;
  }
  .handshake2-img {
    position: static !important;
    width: 385px;
    min-width: 270px !important;
  }

  .handshake-div {
    position: static !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bluegreen-parent {
    flex-direction: column !important;
  }

  .bluegreen-div {
    margin: 38px 4px !important;
  }

  .download-parent {
    flex-direction: column-reverse !important;
    gap: 100px;
  }

  .download-box {
    justify-content: center;
  }

  .footer-parent {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column-reverse !important;
  }

  .mc_embed_signup {
    margin: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .ethics-card-2 {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 430px) {
  .android-download {
    width: 120px;
    margin: 12px !important;
  }

  .res-account {
    display: none !important;
  }

  .res-scroll {
    display: none !important;
  }

  .res-sidebar {
    display: none;
  }

  .res-hide {
    display: block;
  }

  .res-logo {
    margin: 1rem 1.5rem !important;
  }

  .res-anchor {
    background-color: transparent !important;
    margin-top: 1rem !important;
  }

  .res-margin {
    margin-top: 6rem !important;
  }
}

@media screen and (max-width: 650px) {
  .footer-navigation {
    padding: 0px;
  }

  .res-container {
    margin: 0px;
    text-align: center;
  }

  .res-container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .skin-care {
    display: block !important;
  }
  .blog-last-div {
    padding: 0px !important;
  }

  .skin-care-tag {
    color: #0064aa;
    font-size: 12px;
    margin: 1.5rem 0px;
    font-weight: bold;
  }
  .skin-care-heading {
    color: black;
    font-size: 18px;
    margin: 1.5rem 0px;
    font-weight: bold;
  }
  .skin-care-detail {
    font-weight: 400;
    margin: 1.5rem 0px;
  }
  .partners {
    justify-content: center;
  }

  .partner-info-heading {
    font-size: 22px;
  }

  #mc_embed_signup {
    margin: auto !important;
  }

  .parent-home-div {
    display: none !important;
  }

  .blog-category-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .blog-category-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 160px;
    /* justify-self: center; */
    align-self: center;
    justify-items: center;
    gap: 10px;
    margin: 0px !important;
  }

  .blog-category-card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .ethics-card {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column-reverse;
  }

  .ethics-card img {
    margin: 12px 2px;
  }

  .store-img {
    margin: 8px;
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 430px) {
  .partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .partners img {
    margin: 0px !important;
  }

  .mobile-nav {
    display: block !important;
  }
  .desktop-nav {
    display: none;
  }
  /* 
  .res-waste {
    display: none;
  } */

  .res-height {
    /* height: 0px !important; */
  }
}

@media screen and (max-width: 375px) {
  .vs-btn {
    width: 100%;
    margin: 8px;
    box-sizing: border-box;
  }
  .blog-category-parent {
    gap: 10px;
  }
  .blog-category-card {
    padding: 4px !important;
  }

  .fixed-img-size {
    width: 220px !important;
    min-width: 193px !important;
  }
}

@media screen and (max-width: 325px) {
  .toggle-menu {
    left: -120%;
  }
}
